:root {
  --color-primary: #04C2C9;
  --color-background: #252934;
  --color-secondary: #E31B6D;
  --color-white: #fff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-nav-footer: #1B242F;
  --shadow: .5rem .5rem 6rem rgba(27, 27, 27, 0.534);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --heading-h3: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 40.625em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #626366;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-white);
  min-height: 100vh;
  position: relative;
}

.header_content {
  width: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_content-heading {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 40.625em) {
  .header_content-heading {
    width: 80%;
    font-size: 2.8rem;
    line-height: 5rem;
    text-align: center;
  }
}

.header_content span {
  color: var(--color-secondary);
  font-weight: 600;
}

.nav {
  background-color: var(--color-nav-footer);
  border-bottom: 3px solid var(--color-primary);
  min-height: 6rem;
}

.nav_content {
  width: 100%;
  padding: 1.5rem 0;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 40.625em) {
  .nav_content {
    margin-left: 0;
    padding: 0;
    background-color: var(--color-background);
  }
}

.nav_content-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 40.625em) {
  .nav_content-ul {
    width: 100%;
    display: none;
    padding: 2rem;
  }
}

.nav_content-ul li {
  list-style: none;
}

@media only screen and (max-width: 40.625em) {
  .nav_content-ul li {
    display: block;
    margin-top: 6rem;
    text-align: left;
  }
}

.nav_content-ul a:hover {
  color: var(--color-secondary);
}

#active {
  color: var(--color-secondary);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 0;
  max-width: 120rem;
  margin: 0 auto;
}

.about_heading {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 40.625em) {
  .about_heading {
    font-size: 2rem;
  }
}

.about_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 60em) {
  .about_services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.about_services-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 60em) {
  .about_services-service {
    padding: 4rem;
  }
}

.about_services-service i {
  font-size: 6rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 3rem 3.5rem;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.about_services-service h3 {
  font-size: var(--heading-h3);
  margin: 1.5rem 0 .5rem 0;
}

.about_services-service p {
  font-size: 1.6rem;
}

.about_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  padding: 8rem 0;
}

@media only screen and (max-width: 75em) {
  .about_content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about_content-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6rem;
  text-align: center;
}

@media only screen and (max-width: 75em) {
  .about_content-description {
    margin-bottom: 6rem;
  }
}

.about_content-description h3 {
  font-size: var(--heading-h3);
  margin: 1.5rem 0;
}

.about_content-description p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.about_content-description :link,
.about_content-description :visited {
  color: #009ADA;
}

.photo {
  background-image: url("../img/foto personale.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 25rem;
  height: 27rem;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40rem;
}

.portfolio_heading {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 8rem 0;
}

@media only screen and (max-width: 40.625em) {
  .portfolio_heading {
    font-size: 2rem;
  }
}

.portfolio_cards {
  max-width: 120rem;
  margin: 0;
  padding: 0 2rem;
}

@media only screen and (max-width: 40.625em) {
  .portfolio_cards {
    width: 90%;
  }
}

.portfolio_cards-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background-color: var(--color-grey-light-3);
  margin-bottom: 2rem;
  font-size: 2rem;
}

@media only screen and (max-width: 40.625em) {
  .portfolio_cards-card {
    display: block;
  }
}

.portfolio_cards-card:nth-child(even) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.portfolio img {
  width: 100%;
  height: 40rem;
}

.card_content {
  padding: 5rem;
}

.card_content h3 {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}

.card_content span {
  color: var(--color-secondary);
}

.card_content a {
  margin-top: 10rem;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.card_content a:hover {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  color: var(--color-white);
}

.contact {
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-background);
  -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  margin-top: -10rem;
  padding: 8rem 0;
}

.contact_heading {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 8rem;
  margin-top: 10rem;
}

@media only screen and (max-width: 40.625em) {
  .contact_heading {
    font-size: 2rem;
  }
}

.contact_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 120rem;
}

@media only screen and (max-width: 60em) {
  .contact_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact_content-col-1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 4rem;
}

@media only screen and (max-width: 60em) {
  .contact_content-col-1 {
    width: 60%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 4rem;
    padding: 0;
  }
}

.contact_content-col-1 h3 {
  font-size: var(--heading-h3);
  color: var(--color-secondary);
  padding: 1rem 0rem;
}

@media only screen and (max-width: 40.625em) {
  .contact_content-col-1 h3 {
    font-size: 2rem;
  }
}

.contact_content-col-1 p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 2rem 0;
}

@media only screen and (max-width: 40.625em) {
  .contact_content-col-1 p {
    font-size: 1.4rem;
  }
}

.contact_content-col-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 2rem;
}

.contatti {
  padding: 2rem 0;
  font-size: 1.4rem;
}

@media only screen and (max-width: 40.625em) {
  .contatti {
    font-size: 1.2rem;
  }
}

.contatti i {
  margin-right: 1.5rem;
}

.contatti a {
  color: var(--color-primary);
}

.footer {
  background-color: var(--color-nav-footer);
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  margin: -.1rem 0;
}

.footer_social {
  margin-bottom: 2rem;
}

.footer_social i {
  font-size: 2rem;
  background-color: #262F38;
  padding: 1.5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-right: 1rem;
}

.footer_social i:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: var(--color-secondary);
}

.footer_copy {
  font-size: 1.5rem;
  font-weight: 300;
  color: #626366;
  text-transform: uppercase;
}

.footer_copy span {
  color: var(--color-secondary);
}

:link,
:visited {
  text-decoration: none;
  color: var(--color-white);
}

.btn {
  display: inline-block;
  font-size: 2.5rem;
  color: var(--color-white);
  font-weight: 300;
  padding: 1rem 2.5rem;
  background-color: transparent;
  border: 2px solid var(--color-white);
  cursor: pointer;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-arrow {
  font-size: 2rem;
  margin-left: 2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover > .btn-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn-form {
  font-size: 2rem;
}

.mobile-li {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 2rem;
}

.toggle {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--color-nav-footer);
  text-align: right;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 4rem;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 40.625em) {
  .toggle {
    display: block;
  }
}

@media only screen and (max-width: 40.625em) {
  .active {
    display: block;
  }
}

.nav-fixed {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-animation: popDown .5s ease-in-out;
          animation: popDown .5s ease-in-out;
}

.skill {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .skill {
    width: 80%;
    margin: 0 auto;
  }
}

.skill_container {
  width: 55rem;
  height: 3rem;
  background-color: var(--color-grey-light-3);
  display: inline-block;
  position: relative;
  margin: 1rem 0;
}

@media only screen and (max-width: 40.625em) {
  .skill_container {
    width: 50rem;
  }
}

.skill_container p {
  font-size: 1.5rem;
  line-height: 3rem;
  position: absolute;
  color: var(--color-white);
}

.skill_container p:nth-child(2) {
  width: 10rem;
  height: 100%;
  padding-left: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.skill_container p:nth-child(3) {
  right: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.skill_graph {
  position: absolute;
  height: 100%;
  left: 0;
  background-color: var(--color-primary);
}

.animationHtml {
  -webkit-animation: html 1.5s linear forwards;
          animation: html 1.5s linear forwards;
}

.animationCss {
  -webkit-animation: css 1.5s linear forwards;
          animation: css 1.5s linear forwards;
}

.animationSass {
  -webkit-animation: sass 1.5s linear forwards;
          animation: sass 1.5s linear forwards;
}

.animationJs {
  -webkit-animation: javascript 1.5s linear forwards;
          animation: javascript 1.5s linear forwards;
}

.animationJq {
  -webkit-animation: jquery 1.5s linear forwards;
          animation: jquery 1.5s linear forwards;
}

.animationUi {
  -webkit-animation: uidesign 1.5s linear forwards;
          animation: uidesign 1.5s linear forwards;
}

.animationAi {
  -webkit-animation: illustrator 1.5s linear forwards;
          animation: illustrator 1.5s linear forwards;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_input, .form_textarea {
  background-color: #1E242C;
  width: 80%;
  padding: .8rem 1.5rem;
  font-size: 1.6rem;
  border: none;
  margin-bottom: 1rem;
  color: var(--color-white);
  outline: none;
}

@media only screen and (max-width: 60em) {
  .form_input, .form_textarea {
    width: 70%;
  }
}

.form_textarea {
  height: 20rem;
  font-size: 2rem;
}

.icon-about {
  width: 12rem;
  height: 13rem;
}

@-webkit-keyframes fromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes popDown {
  0% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes popDown {
  0% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@-webkit-keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes sass {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes sass {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes sass {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes javascript {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes javascript {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes jquery {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes jquery {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes uidesign {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes uidesign {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes illustrator {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes illustrator {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
/*# sourceMappingURL=main.css.map */